<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <div class="flex justify-center min-h-screen items-center bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500">
    <div class="login bg-white shadow-md rounded-[10px] w-[558px] pt-[65px] pb-[54px] pr-[55px] pl-[55px]">
      <div class="mb-6">
        <%= link_to new_session_path(resource_name) do %>
          <%= image_tag 'arrow-left.png' %>
        <% end %>
      </div>
      <div class="font-semibold tertiary-font text-[39px] mb-[49px]">Forgot your password?</div>
      <div class="form-group floating-label-control mb-[23px]">
        <%= f.text_field  :email,
                          placeholder: "Email Address",
                          class: 'form-control w-full',
                          required: true
        %>
        <span class="floating-label">Email Address</span>
      </div>
      <div class="flex justify-center">
        <%= f.button :submit, "Send me reset password instructions", class: "w-full h-[50px] text-white cursor-pointer bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 opacity-50 hover:opacity-100 transition duration-300 ease-in-out text-base tertiary-font font-medium rounded-full" %>
      </div>
    </div>
  </div>
<% end %>
