<tr>
  <td class="w-0"><%= post_article.id %></td>
  <td><%= post_article.title %></td>
  <td><%= post_article.content %></td>
  <td class="w-48"><%= post_article.updated_at.strftime('%B %d, %Y') %></td>
  <td class="w-48"><%= post_article.created_at.strftime('%B %d, %Y') %></td>
</tr>
