<div class="flex flex-col w-full bg-white shadow-lg rounded-xl text-white">
  <div class="flex items-center rounded-t-xl p-[24px] <%= @user.gender == 'male' ? 'bg-gradient-to-b from-cyan-950 to-white' : 'bg-gradient-to-b from-red-500 to-white' %>">
    <%= user_avatar(@user) %>
    <div style="margin-left: 20px" class="">
      <div class="text-[45px] text-black font-bold"><%= @user&.full_name %></div>
      <div class="text-[20px] text-black">(<%= @user&.nick_name %>)</div>
    </div>
  </div>
  <div style="width:100%; border: 1px solid #727272;"></div>
  <div class="flex justify-between pt-[24px] pl-[24px] pr-[24px] pb-0" style="margin-bottom: 24px">
    <div class="font-bold text-2xl text-black">Name & Date of Birth</div>
    <div class="flex" style="gap:30px">
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">First Name:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.first_name %></div>
      </div>
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">Last Name:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.last_name %></div>
      </div>
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">Gender:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.gender %></div>
      </div>
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">Date of Birth:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.date_of_birth&.strftime("%m-%d-%Y") %></div>
      </div>
    </div>
  </div>
  <div style="width:100%; border: 1px solid #727272;"></div>
  <div class="flex justify-between pt-[24px] pl-[24px] pr-[24px] pb-0" style="margin-bottom: 24px">
    <div class="font-bold text-2xl text-black">Email & Phone Number</div>
    <div class="flex" style="gap:30px">
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">Email:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.email %></div>
      </div>
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">Phone Number:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.phone_number %></div>
      </div>
    </div>
  </div>
  <div style="width:100%; border: 1px solid #727272;"></div>
  <div class="flex justify-between pt-[24px] pl-[24px] pr-[24px] pb-0" style="margin-bottom: 24px">
    <div class="font-bold text-2xl text-black">Address</div>
    <div class="flex" style="gap:30px">
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">Street:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.street %></div>
      </div>
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">City:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.city %></div>
      </div>
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">State:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.state %></div>
      </div>
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">Zip:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.zip %></div>
      </div>
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">Country:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.country %></div>
      </div>
    </div>
  </div>
  <div style="width:100%; border: 1px solid #727272;"></div>
  <div class="flex justify-between pt-[24px] pl-[24px] pr-[24px] pb-0" style="margin-bottom: 24px">
    <div class="font-bold text-2xl text-black">Active</div>
    <div class="flex" style="gap:30px">
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">Current Sign In At:</div>
        <div style="font-size: 18px; font-weight: 700;"><%= @user&.current_sign_in_at&.strftime("%m-%d-%Y, %I:%M %p") %></div>
      </div>
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px;">Last Sign In At:</div>
        <div style=" font-size: 18px; font-weight: 700;"><%= @user&.last_sign_in_at&.strftime("%m-%d-%Y, %I:%M %p") %></div>
      </div>
      <div class="text-black" style="border: 1px solid #727272; border-radius: 8px; padding: 8px;">
        <div style="font-size: 12px">Status:</div>
        <div style="font-size: 18px; font-weight: 700;">
          <%= @user.status ? 'Active' : 'Unactive' %>
        </div>
      </div>
    </div>
  </div>
</div>
